* {
	-fx-font-family: "Segoe UI";
}

.task-list-style {
	-fx-background-color: #FFFFFF; 
	-fx-padding: 2; 
	-fx-hgap: 2; 
	-fx-vgap: 2;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.task-list-cell-id {
	-fx-font-size: 1.0em; /* 1.0 */
	-fx-font-weight: bold;
	-fx-text-fill: rgba(0, 0, 0, 0.5);
}

/*
.task-list-cell-id-black{
	-fx-text-fill: #000000;
}

.task-list-cell-id-green{
	-fx-text-fill: #00C13F;
}

.task-list-cell-id-yellow{
	-fx-text-fill: #E1B700;
}

.task-list-cell-id-red{
	-fx-text-fill: #FF2E12;
}
 */
 
.task-list-cell-box-red {
	-fx-background-color: #FF4444; /* #FF2E12  */
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 2, 0.7, 0, 0);
}

.task-list-cell-box-yellow {
	-fx-background-color: #FFBB33;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 2, 0.7, 0, 0);
}

.task-list-cell-box-green {
	-fx-background-color: #99CC00;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 2, 0.7, 0, 0);
}

.task-list-cell-box-purple {
	-fx-background-color: #5133AB;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 2, 0.7, 0, 0);
}

.task-list-cell-box-transparent {
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 2, 0.7, 0, 0);
}


.task-list-cell-label-strike-through .text{
	-fx-strikethrough: true;
}

.task-list-cell-text-is-done {
	-fx-text-fill: #777777;
}

.task-list-cell-background-is-done {
	-fx-background-color: rgba(150, 150, 150, 0.2);
	-fx-background-insets: 5;
	-fx-effect: dropshadow(three-pass-box, #F1F1F199, 6, 0, 0, 0);
}

.task-list-cell-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.0em;
}

.task-list-cell-datetime {
	-fx-font-weight: bold;
	-fx-text-fill: #569CE3;
	-fx-font-size: 0.9em;
}

/*
.task-list-icon {
    -fx-text-fill: #444444;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 1, 1);
}
 
.task-list-found .cache-list-icon {
    -fx-text-fill: #669900;
}
 */
 
.task-list-cell {
	/*-fx-background-color: linear-gradient(#FFFFFF 0%, #FCFCFC 25%, #F9F9F9 100%);
	-fx-background-color: rgba(255, 255, 255, 0.3);*/
	-fx-background-color: rgba(200, 200, 200, 0.25);
	-fx-background-insets: 5;
	-fx-effect: dropshadow(three-pass-box, #F1F1F199, 6, 0, 0, 0);

}

.task-list-cell:filled:hover{
	-fx-background-color: rgba(200, 200, 200, 0.5); /*#56C5FF #8AD5F090  255, 255, 255, 1.0*/
	/* type, color, radius, spread, offset-x, offset, y */
	/*-fx-effect: dropshadow(three-pass-box, #E2F4FB, 10, 0.7, 0, -1);*/
}

.task-list-cell:filled:selected {
	-fx-background-color: #6DCAEC99; /* #4294DE 24ADDEFF*/
}


.task-list-cell:filled:selected .task-list-cell-title{
	-fx-text-fill: #000000;
}

.task-list-cell:filled:selected .task-list-cell-id{
	-fx-text-fill: #000000;
}
/*
.task-list-cell:filled:selected .task-list-cell-datetime{
	-fx-text-fill: #FFFFFF;
}
 */

.task-list-cell-button-image {
	-fx-background-color: transparent;
 	-fx-background-size: contain;
 	-fx-background-repeat: no-repeat;
  	-fx-background-position: center center;
}

.task-list-cell-button-image:hover {
	-fx-cursor: hand;
}

.task-list-cell-disable-alarm {
	-fx-background-image: url("../../images/alarm_disable.png"); 
}

.task-list-cell-disable-alarm:hover {
	-fx-background-image: url("../../images/alarm_disable_hover.png"); 
}

.task-list-cell-enable-alarm {
	-fx-background-image: url("../../images/alarm_enable.png"); 
}

.task-list-cell-enable-alarm:hover {
	-fx-background-image: url("../../images/alarm_enable_hover.png");
}

.task-list-cell-is-done-alarm{
	-fx-background-image: url("../../images/alarm_is_done.png");
}

.task-list-cell-priority-critical {
	-fx-background-image: url("../../images/priority_level_critical.png");
}

.task-list-cell-priority-normal {
	-fx-background-image: url("../../images/priority_level_normal.png");
}

.task-list-cell-priority-low {
	-fx-background-image: url("../../images/priority_level_low.png");
}

.task-list-cell-priority-default {
	-fx-background-image: url("../../images/priority_level_default.png");
}





/*
.task-list-cell-done {
	-fx-background-color: #EEEEEE;
}

.task-list-cell-done:filled:hover{
	-fx-background-color: #E6E6E6F2;
}

.task-list-cell-done:filled:selected {
	-fx-background-color: #E3E3E3FF;
}

.task-list-cell-done:filled:selected .task-list-cell-title{
	-fx-text-fill: #000000;
}

.task-list-cell-done:filled:selected .task-list-cell-datetime{
	-fx-text-fill: #666666;
}

*/



/*Check Box Styling */
.check-box *.box {
	-fx-border-color: #999999;
	-fx-border-radius: 3;
  	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.check-box:indeterminate .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

.check-box:selected .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}


/*====================== PopOver CSS ====================== */
.popover{
	-fx-background-color: #ffffff;
	-fx-padding: 3 3 3 3;
	-fx-opacity: 0.3;
}

.popover .pop-content-area{
	-fx-background-color: #ffffff;
}

.popover .pop-title {
	-fx-font-family: "Arial";
	-fx-font-size: 1.3em;
	-fx-text-fill: #888888;
	-fx-text-alignment: center;
}

.popover .label-priority {
	-fx-font-weight: bold;
}

.pop-over-img-critical {
	-fx-image: url("../../images/priority_level_critical.png");
}

.pop-over-img-normal {
	-fx-image: url("../../images/priority_level_normal.png");
}

.pop-over-img-low {
	-fx-image: url("../../images/priority_level_low.png");
}

.pop-over-img-default {
	-fx-image: url("../../images/priority_level_default.png");
}

.btn-change {
	-fx-background-color: #EAEAEA;
    -fx-border-color: #B3B3B3;
    -fx-padding: 7 10 7 10;
    -fx-text-fill: #4D4D51;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.btn-change:hover {
	-fx-background-color: #E3F0FC;
	-fx-border-color: #89BAEC;
	-fx-cursor: hand;
}

.btn-change:pressed {
	-fx-background-color: #CAE3FC;
	-fx-border-color: #62A4E7;
	-fx-cursor: hand;
}



.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: #ffffff;
    -fx-background-image: null;
    -fx-border-radius: 10px;
    -fx-padding: 2px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
	-fx-mark-color: #888888;
    -fx-background-radius: 10px;
    -fx-padding: 8px;
}

