* {
	-fx-font-family: "Segoe UI";
}

.task-list-style {
	-fx-background-color: #FFFFFF; 
	-fx-padding: 2; 
	-fx-hgap: 2; 
	-fx-vgap: 2;
}

.task-list-cell-id {
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
}

.task-list-cell-id-black{
	-fx-text-fill: #000000;
}

.task-list-cell-id-green{
	-fx-text-fill: #00C13F;
}

.task-list-cell-id-yellow{
	-fx-text-fill: #E1B700;
}

.task-list-cell-id-red{
	-fx-text-fill: #FF2E12;
}


.task-list-cell-title {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.task-list-cell-datetime {
 	-fx-font-size: 0.9em;
	-fx-font-weight: normal;
	-fx-text-fill: #666666;
}

.task-list-icon {
    -fx-text-fill: #444444;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 1, 1);
}
 
.task-list-found .cache-list-icon {
    -fx-text-fill: #669900;
}

.task-list-cell {
	-fx-background-color: linear-gradient(#FFFFFF 0%, #FCFCFC 25%, #F9F9F9 100%);
}

.task-list-cell:filled:hover{
	-fx-background-color: #8AD5F090; /*#56C5FF */
	/* type, color, radius, spread, offset-x, offset, y */
	-fx-effect: dropshadow(three-pass-box, #E2F4FB, 10, 0.7, 0, -1);
}

.task-list-cell:filled:selected {
	-fx-background-color: #24ADDEF2; /* #4294DE*/
}

.task-list-cell:filled:selected .task-list-cell-title{
	-fx-text-fill: #FFFFFF;
}

.task-list-cell:filled:selected .task-list-cell-datetime{
	-fx-text-fill: #FFFFFF;
}

.task-list-cell-done {
	-fx-background-color: #EEEEEE;
}

.task-list-cell-done:filled:hover{
	-fx-background-color: #E6E6E6F2;
}

.task-list-cell-done:filled:selected {
	-fx-background-color: #E3E3E3FF;
}

.task-list-cell-done:filled:selected .task-list-cell-title{
	-fx-text-fill: #000000;
}

.task-list-cell-done:filled:selected .task-list-cell-datetime{
	-fx-text-fill: #666666;
}