* {
	-fx-font-family: "Segoe UI", "Arial";
}

.root-window-style{
	-fx-border-insets: 23;
  	-fx-background-insets: 23;
  	-fx-background-radius: 6;
  	-fx-border-radius: 6;
  	-fx-border-color: gray;
  	-fx-border-style: solid;
  	-fx-border-width: 1;
  	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

.image-background {	
	-fx-background-color: #ffffff;
	/*-fx-background-color: linear-gradient(rgb(224,228,233) 0%, derive(rgb(224,228,233),-20%) 100%);*/
	/*-fx-background-image: url("../../images/noise-texture.png");*/
	-fx-background-repeat: repeat; 
}

.transparent-background {
	-fx-background-color: transparent;
}

.text-background {
	-fx-background-color: transparent;
}

.list-view-style{
	-fx-background-insets: 0 ;
	-fx-background-color: transparent;
}

.list-view-style .scroll-bar:horizontal ,
.list-view-style .scroll-bar:vertical{
 	-fx-background-color:transparent;
}

.list-view-style .scroll-bar .increment-button ,
.list-view-style .scroll-bar .decrement-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0em; /* 2em */
}



.list-view-style  .scroll-bar .increment-arrow,
.list-view-style  .scroll-bar .decrement-arrow {
    -fx-text-fill: #ffffff; /* #88c6fb */
}


.list-view-style .scroll-bar:horizontal .track,
.list-view-style .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(#000000, 100%); /*gray */
    -fx-background-radius: 0em; /*2em */
    -fx-border-radius: 0em; /*2em */
}


.list-view-style .scroll-bar:horizontal .thumb,
.list-view-style .scroll-bar:vertical .thumb {
    -fx-background-color: #999999;	/* linear-gradient(to right, #e4fbff, #cee6fb, #a5d3fb, #88c6fb, #d5faff) */        
    -fx-background-insets: 2, 2, 2, 2;
    -fx-background-radius: 0em; /*2em */
}

.list-view-style .scroll-bar:horizontal .thumb:pressed,
.list-view-style .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #666666;	        
}


.text-box-style{
	-fx-border-color: #000000;
	-fx-border-radius: 3px;
}

.button-style{
	/* 
	-fx-background-color: rgba(0,0,0,0.08),
				        linear-gradient(#5a61af, #51536d),
				        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    
	-fx-background-color: rgba(0,0,0,0.08),
				        linear-gradient(#8AD5F0 0%,#50C0E9 10%, #2CB1E1 50%, #33B5E5 60%, #8AD5F0 100%);
		*/		        
    /* -fx-background-color: #8AD5F0;  #50C0E9 */
    fx-background-color: #EAEAEA;
    -fx-border-color: #B3B3B3;
    -fx-padding: 7 10 7 10;
    -fx-text-fill: #4D4D51;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button-style:hover {
	-fx-background-color: #E3F0FC;
	-fx-border-color: #89BAEC;
	-fx-cursor: hand;
}

.button-style:pressed {
	-fx-background-color: #CAE3FC;
	-fx-border-color: #62A4E7;
	-fx-cursor: hand;
}


.text-status-style {
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
}